<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ivan Travel Agency</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/function.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</head>
<body>
<header th:fragment="navigation">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" style="color: white" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: white" href="/excursions/all" >Excursions</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: white" href="/towns/all">Destinations</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: white" href="#">Disabled</a>
                </li>
                <div class="dropdown" sec:authorize="isAuthenticated()">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item " sec:authorize="!isAuthenticated()">
                    <a class="nav-link" style="color: white" href="/users/register">Register <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item " sec:authorize="!isAuthenticated()">
                    <a class="nav-link" style="color: white" href="/users/login">Login<span class="sr-only">(current)</span></a>
                </li>
                <form sec:authorize="isAuthenticated()" th:action="@{/users/logout}" th:method="post">
                    <input class="btn btn-link nav-link" type="submit" value="Logout">
                </form>
            </ul>
        </div>
    </nav>
</header>
<footer th:fragment="footer" class="bg-primary text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5>Email</h5>

                <p>
                    ivantravelagency@gmail.com
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Telephone</h5>
            <p>+35947741648</p>
            <p>+35947741645</p>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Links</h5>
                <p>ul. Knyaz Boriz 143, Varna</p>

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © Ivan copyrighted
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>