.bg-nav{
    background-color: #30BDC6;
}

.bg-footer{
    background-color: #30BDC6;
}
.my-index-div{
    min-height:56.6vh ;
    max-height: 100%;
}
.my-register-div{
    min-height:85.5vh ;
    max-height: 100%;
}
/*footer {*/
/*    */
/*    position:absolute;*/
/*    width:100%;*/
/*}*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #30BDC6;
    color: white;
    text-align: center;
}
.bg-blur {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    z-index: 2;
    width: 100%;
}
body {
    background-image: url(/images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.my-main {
    min-height:90.2vh;
}

.navbar-nav > li {
    padding-left:30px;
    padding-right:30px;
    font-size: large;

}

.centered{
    text-align: center;
}

.bodyoflogin {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#register .container #register-row #register-column #register-box {
    margin-top: 25px;
    max-width: 600px;
    /*height: 740px;*/
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    min-height: 650px;

}
#register .container #register-row #register-column #register-box #register-form {
    padding: 20px;

}
#register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;

}

.bodyofregister {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;

}



#landmark .container #landmark-row #landmark-column #landmark-box {
    margin-top: 120px;
    max-width: 600px;
    height: 560px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#landmark .container #landmark-row #landmark-column #landmark-box #landmark-form {
    padding: 20px;
}
#landmark .container #landmark-row #landmark-column #landmark-box #landmark-form #landmark-link {
    margin-top: -85px;
}

.wideInput{
    text-align: left;
    padding: 0.4em 0.4em 0.4em 0;
    width: 400px;
    height: 200px;

}

#hotel .container #hotel-row #hotel-column #hotel-box {
    margin-top: 120px;
    max-width: 600px;
    height: 560px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#hotel .container #hotel-row #hotel-column #hotel-box #hotel-form {
    padding: 20px;
}
#hotel .container #hotel-row #hotel-column #hotel-box #hotel-form #hotel-link {
    margin-top: -85px;
}

#town .container #town-row #town-column #town-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#town .container #town-row #town-column #town-box #town-form {
    padding: 20px;
}
#town .container #town-row #town-column #town-box #town-form #town-link {
    margin-top: -85px;
}

.townbgcolor{
    /*background-color: #EABC82;    */
    background-color: #72CA96;
    height: 60px;
    text-align: center;
}

.example {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    height: 30vh;
}

img {
    width: 80px; /* You can set the dimensions to whatever you want */
    height: 250px;
    object-fit: cover;
}
.searchbox{
    margin:auto;
}
.searchbox input{
    width: 18vh;
    min-width: 300px;
}
.landmarksname{
    text-align: center;
    padding-top: 10px;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
text-align: center;
}

.townbgcolorforexcursion{
    /*background-color: #EABC82;    */
    background-color: #1A4F45;
    height: 60px;
    text-align: center;
    border-color: red;
    border: solid;
}

.booknowbgcolor{
    /*background-color: #EABC82;    */
    background-color: orange;
    height: 60px;
    text-align: center;
    border-color: red;
    border: solid;
}
.descriptionwrap{
    border-width: medium;
    border-color: #fff000;
}

.daybgcolor{
    /*background-color: #EABC82;    */
    background-color: #56DDE4;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    min-height: 60px;

}

.wrapwholeelement{
    border: solid;
    border-color: #21573A;

}

.cardguide {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.cardguide-img-top {
    width: 80%;
    height: 70%;
    object-fit: cover;
}

.cardguide {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.titleguide {
    color: grey;
    font-size: 18px;
}

#bookingexcursion .container #bookingexcursion-row #bookingexcursion-column #bookingexcursion-box {
    margin-top: 25px;
    max-width: 600px;
    /*height: 740px;*/
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    min-height: 250px;

}
#bookingexcursion .container #bookingexcursion-row #bookingexcursion-column #bookingexcursion-box #bookingexcursion-form {
    padding: 20px;

}
#bookingexcursion .bookingexcursion #bookingexcursion-row #bookingexcursion-column #bookingexcursion-box #bookingexcursion-form #bookingexcursion-link {
    margin-top: -85px;
}

#bookingdestination .container #bookingdestination-row #bookingdestination-column #bookingdestination-box {
    margin-top: 25px;
    max-width: 600px;
    /*height: 740px;*/
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    min-height: 250px;

}
#bookingdestination .container #bookingdestination-row #bookingdestination-column #bookingdestination-box #bookingdestination-form {
    padding: 20px;

}
#bookingdestination .bookingdestination #bookingdestination-row #bookingdestination-column #bookingdestination-box #bookingdestination-form #bookingdestination-link {
    margin-top: -85px;
}





