<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">>
<head th:replace="fragments/commons::head">

</head>
<body class = "bodyofregister">
<header th:replace="fragments/commons::navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main">
  <div id="addhotel">
    <div class="container">
      <div id="addhotel-row" class="row justify-content-center align-items-center">
        <div id="addhotel-column" class="col-md-6">
          <div id="addhotel-box" class="col-md-12">
            <form id="addhotel-form" class="form" action="" method="post">
              <h3 class="text-center text-info">Add hotel</h3>
              <div class="form-group">
                <label for="name" class="text-info">Hotel name:</label><br>
                <input type="text" name="name" id="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="stars" class="text-info">Stars:</label><br>
                <input type="number" name="stars" id="stars" class="form-control">
              </div>
              <div class="form-group">
                <label for="forAdult" class="text-info">Price per night for adult:</label><br>
                <input type="number" name="forAdult" id="forAdult" class="form-control">
              </div>
              <div class="form-group">
                <label for="forChild" class="text-info">Price per night for child:</label><br>
                <input type="number" name="forChild" id="forChild" class="form-control">
              </div>
              <div class="form-group">
                <label for="town" class="text-info">Town:</label><br>
                <input type="text" name="town" id="town" class="form-control">
              </div>
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Add">
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>
