<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">

</head>
<body class = "bodyoflogin">
<header th:replace="fragments/commons::navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main">
  <div id="bookingexcursion">
    <div class="container">
      <div id="bookingexcursion-row" class="row justify-content-center align-items-center">
        <div id="bookingexcursion-column" class="col-md-6">
          <div id="bookingexcursion-box" class="col-md-12" >
            <form id="booking_form" method="post" th:object="${bookingExcursionBindingModel}"
                  th:action="@{/excursions/booking/{id}(id=${id})}"   class="form" >
              <h3 class="text-center text-info">Booking for excursion</h3>
              <p class="bg-danger alert-danger" th:if="${zero}">You can't make a booking for 0 people!</p>
              <p class="bg-danger alert-danger" th:if="${enoughPlaces}" th:text="|There are only ${placesLeft} places left, you cannot book for more|"></p>
              <div class="form-group">
                <label for="countofadults" class="text-info">Count of adults:</label><br>
                <input th:field="*{countOfAdults}" th:errorclass="is-invalid" type="number" name="countofadults" id="countofadults" class="form-control">
                <p class="invalid-feedback">Field must contain a positive number or 0</p>
              </div>

              <div class="form-group">
                <label for="countofchildren" class="text-info">Count of children:</label><br>
                <input th:field="*{countOfChildren}" th:errorclass="is-invalid"  type="number" name="countofchildren" id="countofchildren" class="form-control">
                <p class="invalid-feedback">Field must contain a positive number or 0</p>
              </div>
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>
