<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">>
<head th:replace="fragments/commons::head">

</head>
<body class = "bodyoflogin">
<header th:replace="fragments/commons::navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main">
    <div id="landmark">
        <div class="container">
            <div id="landmark-row" class="row justify-content-center align-items-center">
                <div id="landmark-column" class="col-md-6">
                    <div id="landmark-box" class="col-md-12">
                        <form id="landmark-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Add landmark</h3>
                            <div class="form-group">
                                <label for="name" class="text-info">Name:</label><br>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="town" class="text-info">Town:</label><br>
                                <input type="text" name="town" id="town" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="pictureurl" class="text-info">PictureUrl:</label><br>
                                <input type="text" name="pictureurl" id="pictureurl" class="form-control">
                            </div>
                            <div class="form-group" >
                                <label for="description" class="text-info" >Description:</label><br>
                                <textarea type="text" name="description" id="description" class="form-control" style=" height: 140px; "></textarea>
                            </div>
<!--                            <div class="form-row m-5">-->
<!--                                <div class="col">-->
<!--                                    <label for="description">Description</label>-->
<!--                                    <textarea name="description" id="description" type="text" class="form-control" placeholder="Description"></textarea>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>
