<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">

</head>
<body class = "bodyoflogin">
<header th:replace="fragments/commons::navigation">

</header>
<main class="p-5 align-content-center bg-blur my-main">
  <div id="hotel">
    <div class="container">
      <div id="hotel-row" class="row justify-content-center align-items-center">
        <div id="hotel-column" class="col-md-6">
          <div id="hotel-box" class="col-md-12">
            <form id="hotel-form" class="form" th:action="@{/users/profile/{username}/changePassword(username=${username})}" th:method="post" th:object="${changePasswordBindingModel}">
              <h3 class="text-center text-info">Change password:</h3>
              <div th:if="${passwordDoesNotMatch}" class="bg-danger alert-danger">Password and Confirm password do not match!</div>
              <div th:if="${incorrectPassword}" class="bg-danger alert-danger">Old password is not correct!</div>
              <div class="form-group">
                <label for="oldpassword" class="text-info">Old password:</label><br>
                <input th:field="*{oldPassword}" th:errorclass="is-invalid" type="password" name="oldpassword" id="oldpassword" class="form-control">
                <p class="invalid-feedback">Field cant be null and must be min 4 characters!</p>
              </div>
              <div class="form-group">
                <label  for="newp" class="text-info">New password:</label><br>
                <input th:field="*{newPassword}"  th:errorclass="is-invalid" type="password" name="" id="newp" class="form-control">
                <p class="invalid-feedback">Field cant be null and must be min 4 characters!</p>
              </div>

              <div class="form-group">
                <label  for="foradults" class="text-info">Confirm new password:</label><br>
                <input th:field="*{confirmPassword}"  th:errorclass="is-invalid" type="password" name="" id="foradults" class="form-control">
                <p class="invalid-feedback">Field cant be null and must be min 4 characters!</p>
              </div>


              <!--                            <div class="form-row m-5">-->
              <!--                                <div class="col">-->
              <!--                                    <label for="description">Description</label>-->
              <!--                                    <textarea name="description" id="description" type="text" class="form-control" placeholder="Description"></textarea>-->
              <!--                                </div>-->
              <!--                            </div>-->
              <div class="form-group">
                <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>
