<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">

</head>
<body class = "bodyoflogin">
<header th:replace="fragments/commons::navigation">

</header>

  <div class="townbgcolor" th:object="${town}">
    <h2 style="padding-top: 10px" th:text="|---*{name}---|"></h2>
  </div>
  <div class="row">
    <div th:each="l : ${town.landmarks}" th:object="${l}" class="card col-lg-3" style="width: 18rem;">
      <div class="pt-2"><b><h4 th:text="*{name}"></h4></b></div>
      <img class="card-img-top img" th:src="*{pictureURL}" alt="Card image cap">
      <div class="card-body" th:text="*{description}" >
        <p class="card-text"></p>
      </div>

    </div>
  </div>

</div>
<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>
