<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">

</head>
<body>
<header th:replace="fragments/commons::navigation">

</header>
<div class="centered" style="min-height: 600px">
  <p><h2>My Excursions</h2></p>
<div class="centered mt-5 mb-5">
<table class="centered">
  <tr>
    <th>Excursion</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Finished</th>
    <th>Rate</th>
  </tr>
  <div th:each="b : ${bookings}" th:object="${b}">
  <tr >
    <td th:text="*{excursion}">Alfreds Futterkiste</td>
    <td th:text="*{startDate}">Maria Anders</td>
    <td th:text="*{endDate}">Germany</td>
    <div th:if="*{finished}"><td><p></p><p style="color: green;">YES</p></p></td></div>
    <div th:unless="*{finished}"><td><p></p><p style="color: red;">NO</p></p></td></div>
    <td>Germany</td>
  </tr>
  </div>

</table>
</div>
</div>
</main>
<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>
