<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">

</head>
<body>
<header th:replace="fragments/commons::navigation">

</header>
<div class="centered" style="min-height: 600px">
  <p><h2>My Excursions</h2></p>
<div class="centered mt-5 mb-5">
<table class="centered">
  <tr>
    <th>Excursion</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Finished</th>
    <th>Rate excursion</th>
  </tr>
  <div th:each="b : ${bookings}" th:object="${b}">
  <tr >
    <td th:text="*{excursion}">Alfreds Futterkiste</td>
    <td th:text="*{startDate}">Maria Anders</td>
    <td th:text="*{endDate}">Germany</td>
    <div th:if="*{finished}"><td><p></p><p style="color: green;">YES</p></p></td></div>
    <div th:unless="*{finished}"><td><p></p><p style="color: red;">NO</p></p></td></div>
    <div th:unless="*{finished}">
      <td>
      Excursion not yet finished!
      </td>
    </div>
    <div th:if="*{finished}">
    <td>
      <div th:if="*{rating == null}">
      <form th:action="@{/users/excursions/{userid}/{bookingid}(userid=${userid},bookingid=${b.id})}" method="post" th:object="${ratingBindingModel}" id="landmark-form" class="form" action="" >
        <h3 class="text-center text-info"></h3>
        <div class="form-group">
          <label for="rating" class="text-info"></label><br>
          <select th:field="*{rating}" th:errorclass="is-invalid"  class="custom-select" name="rating" id="rating" aria-label="Default select example">
            <option  value="" selected>Select rating:</option>
            <option th:each="r : ${T(com.example.project.model.entity.RatingEnum).values()}" th:value="${r}" th:text="${r}"></option>

          </select>

        </div>
        <div class="form-group">
          <input type="submit" name="submit" class="btn btn-info btn-md" value="Submit">
        </div>
      </form>
      </div>
    <div th:unless="*{rating == null}" th:text="|Your rating is: *{rating.rating}|">

    </div>


    </td>
    </div>
  </tr>
  </div>

</table>
</div>
</div>
</main>
<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>
